<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
    </head>
    <body>
        <form method="POST" th:object="${user}">
            <div class="errors" th:if="${#fields.hasErrors('*')}">
                <ul>
                    <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
                </ul>
            </div>
            <input type="text" th:field="*{username}" />
            <input type="text" th:field="*{password}" />
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <input type="submit" value="submit" />
        </form>
    </body>
</html>
